@using Blog.Web.ViewModels
@model IEnumerable<PostagemViewModel>

@{
    ViewBag.Title = "Postagens Recentes";
    var userId = @ViewBag.IdUser ?? Guid.Empty;
    var isAdmin = @ViewBag.Admin ?? false;
}




<div class="container blog-list">
    @* <h1 class="texto-centralizado">@ViewBag.Title</h1> *@

    <div style="text-align: center;margin-bottom: 20px;">
        @if (userId != Guid.Empty)
        {
            <a href="@Url.Action("Create", "Postagem", new { area = "" })" class="btn btn-primary btn-lg"> + Nova Postagem</a>
        }
        else
        {
            <button class="btn btn-secondary btn-lg" disabled> + Nova Postagem</button>
        }
    </div>

    <div class="row">
        @foreach (var postagem in Model)
        {
            <div class="col-md-8 offset-md-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">
                            <a href="@Url.Action("Detalhes", "Postagem", new { id = postagem.Id })">
                                @Html.DisplayFor(modelItem => postagem.Titulo)
                            </a>
                        </h2>
                        <p class="card-meta">
                            Publicado por <strong>@postagem.Autor?.Nome</strong> em @postagem.DataCriacao?.ToString("dd/MM/yyyy HH:mm:ss")
                        </p>
                        <div class="card-excerpt">
                            <p>@(postagem.Conteudo?.Length > 200 ? postagem.Conteudo.Substring(0, 200) + "..." : postagem.Conteudo)</p>
                        </div>
                        <footer class="card-footer">
                            <a href="@Url.Action("Details", "Postagem", new { id = postagem.Id })" class="btn btn-primary">Leia Mais</a>
                            @if (userId == postagem?.IdAutor || isAdmin)
                            {
                                <a href="@Url.Action("Edit"  , "Postagem", new { id = postagem?.Id })" class="btn btn-primary">Editar</a>
                                <a href="@Url.Action("Delete"  , "Postagem", new { id = postagem?.Id })" class="btn btn-danger">Excluir</a>
                            }
                            else
                            {
                                <button class="btn btn-secondary" disabled>Editar</button>
                                <button class="btn btn-secondary" disabled>Excluir</button>
                            }
                        </footer>
                    </div>
                </div>
                <hr />
            </div>
        }
    </div>
</div>
