@using Blog.Web.ViewModels
@model IEnumerable<AutorViewModel>

@{
    ViewData["Title"] = "Lista de Autores";
    var userId = @ViewBag.IdUser ?? Guid.Empty;
    var isAdmin = @ViewBag.Admin ?? false;
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-primary">@ViewData["Title"]</h1>
            <p>
                @* <a asp-action="Create" class="btn btn-success">Criar Novo Autor</a> *@
                <a href="@Url.Action("Create", "Autor", new { area = "" })" class="btn btn-primary btn-lg"> + Nova Postagem</a>
            </p>

            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.First().Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Email)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Biografia)</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Biografia)</td>
                            <td class="text-center">
                                @if (userId == item?.Id || isAdmin)
                                {
                                    <a asp-action="Edit" asp-route-id="@item?.Id" class="btn btn-warning btn-sm">Editar</a>
                                }
                                else
                                {
                                    <button class="btn btn-secondary" disabled>Editar</button>
                                }
                                <a asp-action="Details" asp-route-id="@item?.Id" class="btn btn-primary btn-sm">Detalhes</a>

                                @if (userId == item?.Id || isAdmin)
                                {
                                    <a asp-action="Delete" asp-route-id="@item?.Id" class="btn btn-danger btn-sm">Deletar</a>
                                }
                                else
                                {
                                    <button class="btn btn-secondary" disabled>Excluir</button>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>